body {
  background-color: rgba(7, 0, 36, 0.904);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: fit-content;
  background-color: rgba(34, 36, 39, 0.863);
  font-family: "inter", sans-serif;
}

.Delete-Group {
  display: flex;
  flex-direction: row;
  gap: 400px;
}
.title {
  background-color: rgb(5, 44, 7);
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-style: normal;
  padding: auto;
}

.percentage {
  background-color: rgb(5, 44, 7);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-style: normal;
}

.numb {
  font-size: 15px;
  font-weight: bold;
  background-color: #144e91;
}
.paragraph {
  background-color: rgb(32, 77, 32);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: rgb(195, 207, 198);
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  height: 30px;
  width: 600px;
  transition-duration: 0.4s;
}

li:hover {
  background: rgb(4, 36, 9);
  color: aliceblue;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  height: 40px;
  width: 610px;
}
.note {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: white;
  font-style: italic;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4b5563;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]:checked + .topic-text {
  text-decoration: line-through;
  color: #6b7280;
  opacity: 0.6;
  transform: translateX(5px);
}

/* I gotta admit, I learned this checkbox styling right now on the fly */
input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  background: #032750;
  border-radius: 2px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.addTopic {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background-color: rgb(19, 155, 14);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
}
.addTopic:hover {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  background-color: rgb(11, 110, 8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.DeleteButton {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background-color: rgb(146, 29, 14);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
}

.DeleteButton:hover {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.8s;
}

/* //it works, just not as I expected, but I'm working on it */
.DeleteButton:focus {
  padding: 14px;
}

.Clear {
  background-color: rgba(140, 255, 0, 0.289);
}

.topic-text {
  transition: all 0.3s ease;
  margin-left: 10px;
}
